<!doctype html>
<html class="no-js" lang="">
<head>
    <%- include("modular/headTag") -%>
    <link rel="stylesheet" href="Wizard/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="Wizard/vendor/date-picker/css/datepicker.min.css">
    <link rel="stylesheet" href="Wizard/css/style.css">
    
    <link rel="stylesheet" href="css/cart.css">
</head>

<body>
    <%- include("modular/leftPanel") -%>

    <div id="right-panel" class="right-panel">
        <%- include("modular/header") -%>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row" id="status">
                    <%- include("modular/cart") -%>
                </div>
            </div>
        </div>
    </div>

    <%- include("modular/scriptTag") -%>

    <script src="Wizard/js/jquery.steps.js"></script>
    <script src="Wizard/js/main.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/socket.js"></script>
</body>
</html>