<!doctype html>
<html class="no-js" lang="">
<head>
    <%- include("modular/headTag") -%>
    <link rel="stylesheet" href="Wizard/css/style.css">
</head>

<body>
    <%- include("modular/leftPanel") -%>

    <div id="right-panel" class="right-panel">
        <%- include("modular/header") -%>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                        <% products.forEach((item) => { %>
                            <div class="col-lg-3 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="stat-widget-six">
                                            <div class="stat-content">
                                                <div class="text-left dib">
                                                    <div class="stat-text"><b id="code_<%= item.code %>"><%= item.code %></b></div>
                                                </div>
                                            </div>
                                
                                            <div class="stat-image dib">
                                                <a href="#">
                                                    <img style="width:200px;height:200px;" id="pic_<%= item.code %>" src="<%= item.img %>"/>
                                                </a>
                                                    <div class="text-left dib">
                                                        <div class="stat-text"><b id="name_<%= item.code %>"><%= item.name %></b></div>
                                                    </div>
                                
                                                    <div class="text-center" style="box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 10px; box-sizing: inherit; margin-bottom: 0px; padding: 2.5px; box-sizing: inherit; line-height: 1.6em; padding: 2.5px;">
                                                        <span style="box-sizing: inherit; font-weight: 700; line-height: 2.0em;"><span style="color: red;"><span style="color: red;" id="unit_<%= item.code %>"><%= item.unit %></span> VND</span></span>
                                                    </div>
                                                <table cellspacing="0" class="table-cart shop_table shop_table_responsive cart woocommerce-cart-form__contents table" id="shop_table">
                                                    <!-- <td class="product-detail" data-title="Product Detail">
                                                        <div style="box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 10px; box-sizing: inherit; margin-bottom: 0px; padding: 2.5px; box-sizing: inherit; line-height: 1.6em; padding: 2.5px;">
                                                            <span style="box-sizing: inherit; font-weight: 700; line-height: 2.0em;"><span style="color: red;">&nbsp;360,000</span></span>
                                                        </div>
                                                    </td> -->
                                                    <td class="product-quantity" data-title="Quantity">
                                                        <div class="quantity">
                                                            <span class="minus">-</span>
                                                            <input type="number" id="amount_<%= item.code %>" class="input-text qty text" step="1" min="0" max="" name="cart" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </td>
                                                    <td >
                                                        <button type="button" class="btn btn-success" id="<%= item.code %>">
                                                            <i class="fa fa-cart-plus" aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mua</i>
                                                        </button>
                                                    </td>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>

    <%- include("modular/scriptTag") -%>
    <script src="Wizard/js/jquery.steps.js"></script>
    <script src="Wizard/js/main.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/socket.js"></script>
</body>
</html>