<!doctype html>
<html class="no-js" lang="">
<head>
    <%- include("modular/headTag") -%>
</head>

<body>
    <%- include("modular/leftAdmin") -%>
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <%- include("modular/headerAdmin") -%>
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <!-- Widgets  -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-2">
                                        <i class="pe-7s-display2"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"><%= sales %></span> Kđ</div>
                                            <div class="stat-heading">Doanh Số</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-icon dib flat-color-4">
                                        <i class="pe-7s-users"></i>
                                    </div>
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="stat-text"><span class="count"><%= users %></span></div>
                                            <div class="stat-heading">ĐẠI LÝ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body" >
                                <div class="stat-widget-five">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body" >
                                <div class="stat-widget-five" id="taive">

                                </div>
                            </div>
                        </div>
                    </div>

            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="label" placeholder="Kí hiệu">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="text" placeholder="Cấp đại lý">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="limit" placeholder="Giới hạn (<)">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="coe" placeholder="Hoa hồng doanh số">
                            </div>
                            <button class="btn btn-success btn-block" id="level">Thêm Cấp</button>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                    <div class="stat-content">
                                        <div class="text-left dib">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="bonus" placeholder="Hoa hồng giới thiệu">
                                              </div>
                                            <button class="btn btn-primary btn-block" id="bt-bonus">Thay Đổi</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                    <div class="stat-content">
                                        <div class="text-left dib">

                                              <div class="form-group">
                                                <select class="custom-select" id="export-type">
                                                  <option selected></option>
                                                  <option value="user">Danh Sách Người Dùng</option>
                                                  <option value="order">Danh Sách Đơn Hàng</option>
                                                  <option value="pay">Danh Sách Chi Trả</option>
                                                </select>
                                              </div>

                                            <button class="btn btn-warning btn-block" id="export">Xuất File</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>

            </div>
            <!-- .animated -->
        </div>
    </div>
</body>
    <%- include("modular/scriptTag") -%>

    <!-- Copy to clipboard -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="./js/copy.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/socket.js"></script>
</html>
